body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #121212;
    color: #ffffff;
}

h1 {
    text-align: center;
}

#toggle-container {
    text-align: right;
    margin-bottom: 20px;
}

.price-table {
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    flex: 1;
    transition: border 0.3s;
}

.table-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.table-container > div {
    min-width: 300px; /* Minimum width for each table */
    max-width: 48%; /* Maximum width to allow two tables side by side */
}

.table-container > div:hover {
    border: 1px solid #ff9800; /* Animated border on hover */
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.light-mode .price-table {
    border: 1px solid #ccc;
}

.dark-mode .price-table {
    border: 1px solid #444;
}

.price-table img {
    max-width: 50px; /* Set max width for images */
    margin-right: 10px; /* Add margin for spacing */
}

button {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}
